/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400&display=swap');

body{
    background-color: #000E1D;
    /* cursor: none; */
}
/* html, a, p {
    cursor: none;
} */

/*---------------------------- Cursor ---------------------------*/
/* .cursor {
    width: 20px;
    height: 20px;
    border: 2px solid black;
    border-radius: 100%;
    background: white;
    transition: all 200ms ease-out;
    position: fixed;
    pointer-events: none;
    left: 0;
    top: 0;
    transform: translate(calc(-50% + 15px), -50%);
    z-index: 5;
}
.hover {
    background-color: red;
    opacity: 0.5;
}
.cursorinnerhover {
    width: 50px;
    height: 50px;
    opacity: .5;
} */

/*--------------------------- Nav Bar --------------------------- */
.nav{
    height: 10vh;
    width: 101vw;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 2;
    transition: top 0.3s;
}

.nav img{
    margin-left: 2vw;
    height: 6vh;
    padding-right: 3vw;
    float: left;
}

.nav p{
    margin-top: 1vh;
    margin-inline: 1vw;
    font-size: 1.1rem;
    font-weight: bold;
}

.nav p {
    color: #3c3c3c;
    cursor: pointer;
    position: relative;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}

.nav p:focus,
.nav p:hover {
    color: rgb(0, 0, 0);
}

.nav p:focus:after,
.nav p:hover:after {
    width: 100%;
    left: 0%;
}

.nav p:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: rgb(0, 0, 0);
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}

/*----------------------------- Intro -----------------------------*/

.intro{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.intro_bg{
    height: 100vh;
    width: 100vw;
    position: absolute;
    opacity: 0.3;
    background-image: url('../img/office_chat.jpeg');
}

.paragraph1 h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    font-weight: bold;
    color: white;
    margin-bottom: 2rem;
    z-index: 2;
}

.paragraph1 p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    width: 40vw;
    z-index: 2;
}
/*--------------------------- Services ---------------------------*/
.service_section{
    background-color: #ffffff;
    height: 70vh;
    display: flex;
    align-items: center;
}

.service-wrapper{
    font-family: 'Barlow', sans-serif;
    /* color: white; */
}

.service-wrapper svg{
    margin-bottom: .5rem;
}

.service-wrapper .col-4{
    margin-top: 5vh;
}

/*--------------------------- Approach ---------------------------*/
.approach_wrapper{
    height: 150vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

.approach {
    width: 60vw;
    height: 130vh;
    margin: 0 auto;
    background-color: #041629;
    border-radius: 8px;
    z-index: 1;
}

.tools {
display: flex;
align-items: center;
padding: 9px;
}

.circle {
padding: 0 4px;
}

.box {
display: inline-block;
align-items: center;
width: 12px;
height: 12px;
padding: 1px;
border-radius: 50%;
}

.red {
background-color: #ff605c;
}

.yellow {
background-color: #ffbd44;
}

.green {
background-color: #00ca4e;
}

.approach .content{
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
    padding-top: 5rem;
    overflow-wrap: normal;
}

.approach .col-6{
    padding-inline: 6rem;
}

.approach .statement{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.statement h2{
    font-weight: bold;
    margin-bottom: 1rem;
}

.statement p{
    padding-right: 4vw;
}

.services_button{
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    padding: .75rem;
}

.approach .number{
    color: rgb(255, 136, 0);
    font-size: 3rem;
    font-weight: bold;
}

.approach .step{
    padding-top: 2rem;
    font-weight: bold;
}

    /*-----------------------Our Work---------------------------- */

.our_work{
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 10vh;
}

.promise{
    padding-top: 10vh;
    padding-bottom: 10vh;
    width: 100vw;
}

.promise h2{
    font-size: 3rem;
    float: right;
    padding-right: 5rem;
}

.promise p{
    width: 25vw;
    font-size: 1.25rem;
    font-weight: lighter;
    float: left;
    padding-left: 5rem;
}

.client1{
    position: relative;
    margin-bottom: 5vh;
}
.client1 .client_name{
    position: absolute;
    right:20vw;
    top: 0;
    z-index: 1;
    font-size: 1.75rem;
    width: 20vw;
    border-bottom: 1px solid rgb(255, 136, 0);
}
.client1 .role{
    position: absolute;
    right:20vw;
    top: 8vh;
    width: 20vw;
}
.client1 .site_img{
    z-index: 0;
    height: 50vh;
    width: 40vw;
    object-fit: cover;
    margin-left: 15vw;
    transition: transform .5s;
}

.client2{
    position: relative;
    margin-top: 5vh;
}
.client2 .client_name{
    position: absolute;
    left:20vw;
    top: 0;
    z-index: 1;
    font-size: 1.75rem;
    width: 20vw;
    border-bottom: 1px solid rgb(255, 136, 0);
}
.client2 .role{
    position: absolute;
    left:20vw;
    top: 8vh;
    width: 20vw;
}
.client2 .site_img{
    z-index: 0;
    height: 50vh;
    width: 40vw;
    object-fit: cover;
    margin-left: 45vw;
    transition: transform .5s;
}

.client3{
    position: relative;
    margin-bottom: 5vh;
    margin-top: 5vh;
}
.client3 .client_name{
    position: absolute;
    right:20vw;
    top: 0;
    z-index: 1;
    font-size: 1.75rem;
    width: 20vw;
    border-bottom: 1px solid rgb(255, 136, 0);
}
.client3 .role{
    position: absolute;
    right:20vw;
    top: 8vh;
    width: 20vw;
}
.client3 .site_img{
    z-index: 0;
    height: 50vh;
    width: 40vw;
    object-fit: cover;
    margin-left: 15vw;
    transition: transform .5s;
}

.site_img:hover{
    transform: scale(1.03);
}

/*------------------------------ Footer ----------------------------*/

footer{
    background-color: white;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer img{
    position: absolute;
    margin-bottom: 30vh;
    width: 20vh;
}

footer .col-4{
    width: 33.33vw;
    margin-top: 20vh;
    text-align: center;
}

footer h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

footer p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
}

footer h2 {
    color: #3c3c3c;
    cursor: pointer;
    position: relative;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}

footer h2:focus,
footer h2:hover {
    color: rgb(0, 0, 0);
}

footer h2:focus:after,
footer h2:hover:after {
    width: 70%;
    left: 15%;
}

footer h2:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: rgb(0, 0, 0);
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}